@import '../../../styles/mixins/vars.sass'

.AboutSection
  position: relative
  height: 100vh
  padding-top: 100px
  color: #333333
  font-family: $secondFF
  .contentWrapper
    position: absolute
    top: 0
    height: 100%
    display: flex
    align-items: center
    .contentText
      p
        font-size: $normalText
        max-width: 45%

