@import "./mixins/_mixins.sass"
@import "./mixins/_vars.sass"
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Rokkitt&display=swap')

body
  //background-color: #EFE7E7
  background-color: $mainBg
  position: relative
  min-height: 100vh
  line-height: 1.6em
  font-size: 16px
  font-family: $firstFF
  color: #fff

.section
  width: 100%

ul, li
  margin: 0
  padding: 0

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  text-decoration: none
  list-style: none
  letter-spacing: 0.01em

a
  text-decoration: none
  outline: none
  color: inherit
  &:hover
    color: inherit

h2
  font-size: 50px
  font-family: $secondFF


button
  cursor: pointer
  border: none

span
  display: block

p
  line-height: 1.3em

.fadeIn-enter
  opacity: 0
  pointer-events: none
  transform: scale(.9)

.fadeIn-enter-active
  opacity: 1
  transition: all 300ms
  pointer-events: inherit
  transform: scale(1)

.fadeIn-exit
  opacity: 1
  pointer-events: none

.fadeIn-exit-active
  transform: scale(.9)
  opacity: 0
  transition: all 300ms

//------

.fadeInNoTrans-enter
  opacity: 0
  pointer-events: none

.fadeInNoTrans-enter-active
  opacity: 1
  transition: all 300ms
  pointer-events: inherit

.fadeInNoTrans-exit
  opacity: 1
  pointer-events: none

.fadeInNoTrans-exit-active
  opacity: 0
  transition: all 300ms

//----------------

//-----------gallerySection-------------

.gallerySection
  padding-top: 100px
  color: $textColor
  h2
    margin-bottom: 50px
  
.gallery 
  display: flex
  padding: 2px
  transition: 0.3s

.gallery:hover .gallery__image 
  filter: grayscale(1)

.gallery__column 
  display: flex
  flex-direction: column
  width: 25%
  @media screen and (max-width: $small)
    width: 50%

figure
  margin: 0

.gallery__link 
  margin: 2px
  overflow: hidden

.gallery__link:hover .gallery__image 
  filter: grayscale(0)

.gallery__link:hover .gallery__caption 
  opacity: 1

.gallery__thumb 
  position: relative

.gallery__image 
  display: block
  width: 100%
  transition: 0.3s

.gallery__image:hover 
  transform: scale(1.1)

.gallery__caption 
  position: absolute
  bottom: 0
  left: 0
  padding: 25px 15px 15px
  width: 100%
  font-family: "Raleway", sans-serif
  font-size: 16px
  color: white
  opacity: 0
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%)
  transition: 0.3s
